<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>third</servlet-name>
        <servlet-class>com.thirdPackage.ThirdPackageClass</servlet-class>
    </servlet>

    <!--Servlet Mapping-->
    <servlet-mapping>
        <servlet-name>third</servlet-name>
        <url-pattern>/thirdServlet</url-pattern>
        
    </servlet-mapping>
    
    <servlet>
        <servlet-name>httpServlet</servlet-name>
        <servlet-class>com.thirdPackage.ThirdHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpServlet</servlet-name>
        <url-pattern>/httpServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
